<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
    <div class="container">
        <a class="navbar-brand" href="#">Crew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/find-crew">Find Crew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find Captain</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto" *ngIf="(accountService.currentUser$ | async) === null">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>

            </ul>
        </div>
        <div class="navbar-nav text-white" *ngIf="accountService.currentUser$ | async">
            <li class="nav-item"><a href="#" class="nav-link">Settings</a></li>
            <li class="nav-item"><a href="#" class="nav-link" (click)="logout()">Logout</a></li>
        </div>
        <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off" *ngIf="(accountService.currentUser$ | async) === null">
            <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placerholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placerholder="Password">
            <button class="btn btn-outline-sucess my-2 my-sm-0 btn-danger" type="submit">Login</button>
        </form>
    </div>      
</nav>